<div class="container">
	<div class="row py-4">
		<div class="col-sm-12 text-right"><%= link_to "Back", company_path(@company), class: "btn btn-warning" %></div>
	</div>

	<div class="row py">
		<div class="col-sm-12">
			<div class="card">
			  <div class="card-header"><h5>Edit Company</h5></div>
			  <div class="container"><%= render "form" %></div>
			</div>
		</div>
	</div>
</div>
