<div class="container py-5">
  <div class="row py-4">
    <div class="col text-right">
      <%= link_to "Create a Company", new_company_path, class: "btn btn-primary" %>
    </div><br/><br/>
  </div>

  <div class="row py">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header"><h5>Companies</h5></div>
        <div class="container">
          <% if @companies.empty? %>
            <p>No Companies Found</p>
          <% else %>
            <div class="row">
              <div class="col-md-12">
                <% @companies.each do |company| %>
                  <div class="row border rounded py-2">
                    <div class="col-md-8">
                      <a href="<%= company_path(company) %>" class="list-group-item-action">
                        <%= company.name %>
                      </a>
                    </div>
                    <div class="col-md-4 text-right">
                      <%= link_to 'Delete Company', company, method: :delete, data: { confirm: 'Are you sure want to delete the Company?' }, class: "btn btn-danger" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
